<div id="<%= dom_id calculation %>">
  <p>
    <strong>Firstname:</strong>
    <%= calculation.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= calculation.lastname %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= calculation.middlename %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= calculation.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= calculation.email %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= calculation.weight %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= calculation.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= calculation.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= calculation.height %>
  </p>

  <p>
    <strong>Dep point:</strong>
    <%= calculation.dep_point %>
  </p>

  <p>
    <strong>Dest point:</strong>
    <%= calculation.dest_point %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= calculation.price %>
  </p>
</div>
